body {
    margin: 0;
    padding: 0;
}

h1{
    text-shadow: rgb(159, 192, 137) 1px 0 10px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #f2f2f2;
}

.container {
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    background: rgba(255, 123, 0, 0.849);
    height: 500px;
    width: 30%;
    box-shadow: inset 0 0 70px 20px rgb(132, 161, 132);
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    position: absolute; /* Ajuste para posición absoluta */
    left: 67%; /* Ajustar a la izquierda con margen */
}

.falling-object {
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fallAndRise 4s forwards;
    cursor: pointer;
}

@keyframes fallAndRise {
    0% {
        top: -50px; /* Comienza fuera del contenedor */
    }
    50% {
        top: calc(100% - 50px); /* Llega al fondo del contenedor */
    }
    100% {
        top: calc(50% - 25px); /* Sube hasta el centro del contenedor */
    }
}
.contenedor {
    margin: 30px;
    display: flex;
  }
  
.columna1{
    padding: 10px;
    background-image: linear-gradient(10deg, rgba(190, 223, 50, 0.89) 15%, rgb(175, 124, 124) 87%, rgba(255, 255, 0, 0) 1%); 
    transform: rotateZ(-2deg); 
}
.columna2{
    background-image: url(fc1a2e19d470cacbfe05a91e11279889.jpg); 
    padding: 10px;
    transform: rotateZ(1deg);
    margin: 10px;
}

.columna3{
    overflow:hidden;
    padding: 10px;
    margin:10px;
}

.contadorVisitas{
    color: #f2f2f2;
    margin: 10px;
    padding: 5px;
    background-image: radial-gradient(rgb(0, 131, 7), rgb(255, 166, 0));
}

@media (max-width: 576px) {
    .container {
        top: 95%;
        width: 100%;
        margin-top: 40px;
        left: 0;
        -webkit-background-origin: padding-box;
        background-origin: padding-box;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-background-size: auto auto;
        background-size: auto auto;
        background: rgba(255, 123, 0, 0.849);
        box-shadow: inset 0 0 70px 20px rgb(132, 161, 132);
        text-align: center;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor {
        margin: 3cap;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .columna1{
        font-size: medium;
    }
    .columna2{
        font-size: medium;
    }
    .columna3{
    padding: 10px;
    float: none;
    margin:0;
    width:auto;
    border:0; 
    }

    /* .container, .columna3{
        width: 100%;
        float: none; */
    }


@media (max-width: 424px) {
    .container {
        top: 95%;
        width: 100%;
        margin-top: 40px;
        left: 0;
        -webkit-background-origin: padding-box;
        background-origin: padding-box;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-background-size: auto auto;
        background-size: auto auto;
        background: rgba(255, 123, 0, 0.849);
        box-shadow: inset 0 0 70px 20px rgb(132, 161, 132);
        text-align: center;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor {
        margin: 3cap;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .columna1{
        font-size: small;
    }
    .columna2{
        font-size: small;
    }
    .columna3{
    padding: 10px;
    float: none;
    margin:0;
    width:auto;
    border:0; 
    } 
}